body {
    background-color: #212121;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
  }
  header {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }  
  main.limita {
    padding: 50px;
    margin-bottom: 10rem;
    text-align: justify;
  }
   
  .nav-container {
    max-width: 75rem;
    margin: 0 auto;
  }
  .parallax {
    height: 100vh;
    overflow: hidden;
  }
  .parallax-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }
  nav {
    background-color: #121212;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    max-width: 8rem;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    background: none;  
  }
  .logo a {
    background: none;
  }
  .logo a:hover {
    background: none;
    padding: none;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .limita {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;
    height: auto;
  }
  h2 {
    text-decoration: underline;
  }
  nav li {
    margin: 0 10px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 1rem;
  }
  
  nav a:hover {
    background-color: #f2f2f2;
    color: #121212;
    padding: 10px 20px;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    border: none;
    border-top: 2px solid #121212;
    min-width: 10rem;
    z-index: 1;
  }
  
  nav ul ul li {
    display: block;
    margin: 0;
    padding: 10px;
  }
  
  nav ul ul li a {
    color: #121212;
  }

  
  
